strong {
    background-color: rgb(135, 188, 241);
}

body {
    color: rgb(99, 113, 5);
}

p {
    color: rgb(22, 1, 44)
}

p {
    background-color: aliceblue
}

body {
    background-color: rgb(44, 104, 32)
}